<% if @message && @message.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action='/messages', method='post'>
  <div>
    <label>Author:</label>
    <input text="text" name="author" value="<%= @message.author %>">
  </div>

  <div>
    <label>Content:</label>
    <input text="text" name="content" value="<%= @message.content %>">
  </div>

  <div>
    <input type="submit" name="Submit">
  </div>

  
</form>